/*
 * @name Discord rectified
 * @version 1.3.7
 * @description A theme based on Discord the way it should be.
 * @author lunaberry_ & femboyfin
 */


:root {
    /* --- Config --- */
    --remove-inbox-button: none;        /* accepted values (none, visible) */
    --remove-help-button:  none;        /* accepted values (none, visible) */
    --code-block-background: #121214; /* Code block background color */
    --user-area-background: #0e0e0f;  /* User area background color */
    --main-ui-background: #121214;    /* Main UI background color */
    --chat-background: #1a1a1e;       /* Chat background color */

    /* --- Experimental Config --- */
    --primary-sidebar-resizer: visible;  /* accepted values (none, visible) */
}


/* --- Title bar --- */

/* Revert DVR title bar changes */
.bar_c38106 { position: unset !important; } /* Removes title */
.visual-refresh .base_c48ade { grid-template-rows: [top] 25px [titleBarEnd] min-content [noticeEnd] 1fr [end]; }
.winButton_c38106 { margin-top: -8%; }
.winButtonsWithDivider_c38106:before { display: none; }
.vc-betterFolders-sidebar-grid.base_c48ade:has(.notice__6e2b9) .trailing_c38106 {
  margin-top: 1.4% !important;
}

[aria-label="Inbox"] { display: var(--remove-inbox-button) !important; } /* Remove the Inbox button */
[aria-label="Help"]  { display: var(--remove-help-button)  !important; } /* Remove the Help button */

.notice__6e2b9 { /* Integrate banner notices into the title bar */
    margin-top: -1.3%;
    margin-right: 8.5%;
    border-radius: 5px;
}

/* --- Serverbar --- */
.visual-refresh .guilds_c48ade { height: 100% !important; } /* Revert DVR change preventing serverbar list entries from going below the height of the User Area */
div.itemsContainer_ef3116>div>div:has(div[class="pill__5bc7e"]) { display: none; } /* Remove "Discover" button */


/* --- Primary sidebar --- */
.visual-refresh .sidebarResizeHandle_c48ade { display: var(--primary-sidebar-resizer) !important; } /* Controls sidebar resizability */
[href="/store"] { display: none !important; } /* Remove Nitro tab */
[href="/shop"]  { display: none !important; }  /* Remove Shop tab */


/* --- User Area --- */
.visual-refresh .panels_c48ade { /* Reverts the DVR change making the User Area overflow into the Serverbar */
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width));
    margin-left: 64px;
    border-radius: 0px !important;
    bottom: 0px !important;
}
.visual-refresh .panel__5dec7 { background-color: var(--user-area-background) !important;} /*Activity panel*/
.visual-refresh .panels_c48ade { background-color: var(--user-area-background) !important; } /*User area*/

/* --- Chat interface --- */
.visual-refresh .chatContent_f75fb0 { background-color: var(--chat-background) !important; }

/* --- Code blocks --- */
.visual-refresh .markup__75297 code { background-color: var(--code-block-background) !important; }

/* --- Main UI --- */
.visual-refresh .bg__960e4 { background-color: var(--main-ui-background) !important; } /*Title bar*/
.visual-refresh .guilds_c48ade { background-color: var(--main-ui-background) !important; } /*Serverbar*/

/* Button removal */
[class="actionButtons_e131a9"] div:has(button[aria-label="Open Soundboard"]) { display: none; }       /* Soundboard */
button[aria-label="Start An Activity"] { display: none !important; }                                  /* Activities (English, US)*/
button[aria-label="Start an Activity"] { display: none !important; }                                  /* Activities (English, UK)*/
button[aria-label="Noise Suppression powered by Krisp"] { display: none; }                            /* Krisp */
button[aria-label="Turn On Camera"]:not(.colorable_f1ceac.experimentDark_f1ceac) { display: none; }   /* Camera */

/* Move Screenshare button in line with the disconnect button */
.actionButtons_e131a9 {
    grid-template-columns: none;
    justify-content: right;
    margin-right: 60px
}

/* Prep all instances of the Screenshare button to have a custom hover effect */
button[aria-label="Share Your Screen"] { 
    background-color: transparent !important;
    border-color: transparent !important;
}

/* resize only the share your screen button from within the user area */
button[aria-label="Share Your Screen"]:not(.colorable_f1ceac.experimentDark_f1ceac) { 
    width: 9%;
    margin-top: -50px;
    margin-left: 80%;
}

/* add a hover effect to the share your screen button */
button[aria-label="Share Your Screen"]:hover { background-color: rgba(255, 255, 255, 0.15) !important; }

button.experimentButton_e131a9 > div > div > svg {
    position: absolute;
    width: 60% !important;
    margin-left: -30%;
    margin-top: -15%;
}

/* --- Other Tweaks --- */
.iconDisabled__9293f { display: none !important; } /* Remove disabled icons (e.g. show user profile when you're in a call with that person) */
em .emoji { transform: skew(-14deg); } /* Make markdown italicization apply to emojis */
.italics_ada32f { transform: skew(-14deg) !important; } /* Make markdown italicization apply to emojis within the preview area */


/* TODO
- Look into possibly reenabling user profile viewing within calls
- Variablize most tweaks for easier customization
- Adjust blurple color to match pre-2021 branding (maybe logo/wordmark too?)
*/
