/**
 * @name acrylic colortheme
 * @author lunaberry_ & femboyfin
 * @description rectified theme dependant acrylic backgroundfor discord!
 * @authorId 525024224314654731
 * @authorLink https://github.com/lunaberryyyy
 * @website https://github.com/lunaberryyyy/themes/
 * @source https://raw.githubusercontent.com/lunaberryyyy/themes/refs/heads/main/acrylic-color/acrylic.theme.css
 */


:root{
  --customforeground: rgba(0,0,0,0.3);
  --custombackground: rgba(0, 0, 0, 0.1);
  --border-subtle: transparent !important;
  --char-counter-POS:            60px;         /* 60px is above send a message box, -20px is below */
  --use-btmTyping-indicators:    -24px;        /* -24px is above send a message box, 40px is below */
}

    /* --- Server bar --- */
 .visual-refresh .guilds_c48ade {
    background-color: var(--custombackground) !important;
}
.custom-theme-background .itemsContainer_ef3116 {
    background: var(--custombackground) !important;
}

    /* --- DM / channel list --- */
    .privateChannels__35e86{ background: transparent !important; }
    .scroller__99e7c{ background: transparent !important; }
    .searchBar__35e86{ border-bottom: 0px solid transparent !important;}

    /* --- Main UI --- */
.title_bb0d86 { display: none; }                                                           /* Remove Title Page Status */
.visual-refresh .bg__960e4 { 
    background-color: var(--custombackground) !important;                                  /* Title bar */
    background: var(--custombackground) !important;
}
.app__160d8 { background-color: var(--custombackground) !important; }                      /* Main background component */                     
.visual-refresh .guilds_c48ade { background-color: var(--custombackground) !important; }   /* Serverbar */
.visual-refresh .appMount__51fd7, .visual-refresh body { background: var(--custombackground) !important; }
.custom-theme-background .theme-dark, .theme-dark.custom-theme-background {
    --theme-base-color: var(--custombackground) !important;
    --theme-text-color: var(--theme-text-color-dark);                                      /* discard currently selected color theme */
    --theme-base-color-hsl: var(--theme-base-color-dark-hsl);
}
.visual-refresh .appMount__51fd7, .visual-refresh body {                                   /* background element originally colored grey */
    background: var(--custombackground) !important;
}
.theme-dark .children__9293f:after{ background: transparent !important; }

    /*--- User area --- */
.sidebar_c48ade:after{ background: transparent !important; }
.visual-refresh .panels_c48ade { background-color: var(--rec-user-area-background) !important; } /* User area */

    /*--- Chat Ui --- */
.wrapper_fc8177{ background: transparent !important; }
.visual-refresh .chat_f75fb0 {
    background: var(--custombackground) !important;
}
.visual-refresh .chatContent_f75fb0 {
    background-color: var(--custombackground) !important;
    background: var(--custombackground) !important; 
}
.theme-dark .themed__9293f {
    background: var(--customforeground) !important;                                        /* chat header */
}
 .visual-refresh .channelTextArea_f75fb0 {
    background: var(--custombackground) !important;                                        /* send a message */
}
:where(.visual-refresh) .themedBackground__74017 {
    background: var(--customforeground) !important;                                        /* send a message */
} 
          /*--- Settings --- */
.contentRegion__23e6b{ background: transparent !important; }
.standardSidebarView__23e6b{ background: transparent !important; }
.layer__960e4{ background: transparent !important; }
.contentRegionScroller__23e6b{ background-color: transparent !important;}
.sidebarRegionScroller__23e6b{ background-color: transparent !important;}



/* NEW EXPERIMENTAL CHANGES */

.channelBottomBarArea_f75fb0 {          /* send a message relative position to move above the odd cutoff*/
    position: relative !important;
    margin-bottom: 0px !important;
    top: -20px !important;
}
 .visual-refresh .channelTextArea_f75fb0 {
    backdrop-filter: blur(5px);
                                            /* send a message blur*/
}

.align-chat-input .form_f75fb0 {       /* send a message relative position to move above the odd cutoff*/
    margin-top: -24px !important;
    margin-bottom: -55px;
}

.visual-refresh .chatContent_f75fb0 {  /* Main chat margin to make space for sending a message */
    margin-bottom: 45px !important; 
}



/* To-do / issues 


sometimes when switching dms/servers if using a nitro theme the color curently selected flashes into view and then goes back to normal transparency

chat scroller uses nitro color


*/
