/**
 * @name acrylic colortheme
 * @author lunaberry_ & femboyfin
 * @description rectified theme dependant acrylic backgroundfor discord!
 * @authorId 525024224314654731
 * @authorLink https://github.com/lunaberryyyy
 * @website https://github.com/lunaberryyyy/themes/
 * @source https://raw.githubusercontent.com/lunaberryyyy/themes/refs/heads/main/acrylic-color/acrylic.theme.css
 */


:root{
  --customforeground: rgba(0,0,0,0.3) !important;
  --custombackground: rgba(0, 0, 0, 0.04) !important;
}

    /* --- Server bar --- */
 .visual-refresh .guilds_c48ade {
    background-color: var(--custombackground);
}
.custom-theme-background .itemsContainer_ef3116 {
    background: var(--custombackground);
}
    /* --- Main UI --- */
.visual-refresh .bg__960e4 { 
    background-color: var(--custombackground);                                  /* Title bar */
    background: var(--custombackground);
}
.app__160d8 { background-color: var(--custombackground); }                      /* Main background component */                     
.visual-refresh .guilds_c48ade { background-color: var(--custombackground); }   /* Serverbar */
.visual-refresh .appMount__51fd7, .visual-refresh body { background: var(--custombackground); }
.custom-theme-background .theme-dark, .theme-dark.custom-theme-background {
    --theme-base-color: var(--custombackground);
    --theme-text-color: var(--theme-text-color-dark);                          /* discard currently selected color theme */
    --theme-base-color-hsl: var(--theme-base-color-dark-hsl);
}
.visual-refresh .appMount__51fd7, .visual-refresh body {                       /* background element originally colored grey */
    background: var(--custombackground);
}


    /*--- Chat Ui --- */
.visual-refresh .chat_f75fb0 {
    background: var(--custombackground);
}
.visual-refresh .chatContent_f75fb0 {
    background-color: var(--custombackground);
    background: var(--custombackground); 
}
.theme-dark .themed__9293f {
    background: var(--customforeground);                                       /* chat header */
}
.visual-refresh .channelTextArea_f75fb0 {
    background: var(--custombackground);                                       /* send a message */
}
:where(.visual-refresh) .themedBackground__74017 {
    background: var(--customforeground);                                       /* send a message */
}